body {
  margin: 0;
}

#initiateProtocol {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#initiateProtocol a {
  padding: 20px;
  text-decoration: none;
  color: black;
  position: relative;
  transition: .5s;
  border: solid white 2px;
}
#initiateProtocol a:hover {
  bottom: 3px;
  box-shadow: 0px 5px 5px grey;
  background-color: black;
  color: white;
  border: solid grey 2px;
}
#initiateProtocol a:active {
  bottom: 0;
  background-color: white;
  color: black;
  box-shadow: none;
}
